.imgcls {
    width:100px;
    height:90px;
}

.tg {
    border-collapse: collapse;
    border-spacing:0;
}

.tg td {
    font-family:Arial, sans-serif;
    font-size:13px;
    padding:7.5px 2.5px;

    overflow:hidden;
    word-break:normal;
}
.tg th {
    font-family:Arial, sans-serif;
    font-size:13px;
    font-weight:normal ;
    padding:7.5px 2.5px;

    overflow:hidden;word-break:normal;
}
.tg .tg-yw4l {
    vertical-align: top;
}
.newsrow {
    border-bottom: 1px dotted #CCC;
}
.tg-yw4l-c{text-align:right}
.tg-yw4l-d{text-align:right}
